@import '../constants/index.scss';

.content {
    padding-top: 14px;
    margin-left: 110px;

    @media screen and (max-width: $md){
        margin-left: 10px;
        margin-bottom: $bottom_nav_size;
    }
}

