.content {
    padding-top: 14px;
    margin-left: 170px;
}

<<<<<<< HEAD
=======
.userContent {
    margin-top: 14px;
    margin-left: 170px
}
>>>>>>> added different padding to router.css if it's user nav and not nav. removed gutters (padding) around list items
